<odoo>
    <menuitem id="menu_chm_choice_of_practices" name="Практики"
              action="chm_choice_of_practices.action_enterprises"
              sequence="1" web_icon="chm_choice_of_practices,static/description/icon.png">
        <menuitem id="menu_enterprises" sequence="1" name="Підприємства"
                  action="chm_choice_of_practices.action_enterprises"/>
        <menuitem id="menu_practice_agreement" sequence="2" name="Угоди"
                  action="chm_choice_of_practices.action_practice_agreement"/>
        <menuitem id="menu_practice_request" sequence="3" name="Заяви"
                  action="chm_choice_of_practices.action_practice_request"/>
        <menuitem id="menu_general_contacts" sequence="4" name="Контакти"
                  groups="chm_choice_of_practices.group_practice_manager">
            <menuitem id="menu_contacts" sequence="1" name="Усі контакти"
                      action="contacts.action_contacts"
                      groups="chm_choice_of_practices.group_administrator"/>
            <menuitem id="menu_practice_manager" sequence="2" name="Керівники практики"
                      action="action_practice_manager_view_kanban"
                      groups="chm_choice_of_practices.group_administrator"/>
            <menuitem id="menu_students" sequence="3" name="Студенти"
                      action="action_students_view_kanban"/>
        </menuitem>
        <menuitem id="menu_education_program" sequence="5" name="Освітні програми"
                  groups="chm_choice_of_practices.group_practice_manager">
            <menuitem id="menu_student_group" sequence="2" name="Групи"
                      action="chm_choice_of_practices.action_student_group"/>
        </menuitem>

    </menuitem>


</odoo>

